:root {
    --primary-color: #a8dadc;
    --secondary-color: #457b9d;
    --text-color: #1d3557;
    --highlight-color: #e63946;
    --background-color: #f1faee;
  }

article {
    background-color: var(--primary-color);
    width: 75vw;
    padding: 5vw;
    border-radius: 25px;
    margin-top: 50px;
}

article p,
h3 {
    color: var(--text-color);
}

.dates {
    display: flex;
    text-align: center;
}
.dates section {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    color: var(--text-color);
}

header {
    color: var(--primary-color);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-color);
}

header button {
    width: 20vw;
    height: 10vh;
}

button, 
.form-attend > button {
    text-transform: capitalize;
    font-weight: bold;
    width: 10vw;
    border: none;
    border-radius: 25px;
    background-color: var(--text-color);
    color: white;
    transition: 0.4s;
}

button:hover {
    background-color: var(--highlight-color);
    color: white;
}

button.attendance-button {
    font-size: 20px;
    width: 5vh;
    height: 5vh;
}

.event-title {
    display: flex;
    justify-content: space-between;
}

.title, 
input[name="modifyEvent"] {
    width: 50vw;
    margin: 0;
}

.edit-event-button,
.delete-event-button,
.attendance-button {
    height: 8vh;
}

section > p, .form-attend > *, .radio-buttons {
    width: 15vw;
    height: 5vh;
    top: 10px;
    vertical-align: middle;
}

section > p, 
.form-attend > *{
    margin: 0;
    padding: 0;
    color: var(--text-color);
} 

.eventSection {
    margin: 0 5vw;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(95, 95, 95, 0.7);

}

.leave-modal {
    width: 5vw;
    padding-right: 0;
    color: var(--text-color);
}

.leave-modal:hover {
    color: var(--highlight-color);
}

.create-event {
    width: 50vw;
    height: auto;
    margin-bottom: 10%;
    background-color: var(--primary-color);
    border-radius: 25px;
}

input[type="text"], input[type="date"] {
    border: 1px solid var(--secondary-color);
}

.create-event, 
.event-form, 
.event-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-form, 
.event-dates {
    justify-content: center;
}

.close-button-container {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

button.leave-modal {
    position: fixed;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
}

.create-event button {
    margin: 2vh 0;
    width: 20vh;
    height: 5vh;
}

.event-form input {
    margin-bottom: 2vh;
}

.event-form {
    margin-top: 5vh;
}

button, .delete-date, 
.radio-buttons label {
    cursor: pointer;
}

.delete-date{
    padding: 5px;
}

.form-attend {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form.form-attend > * {
    margin: 0;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-buttons label {
    background-color: var(--secondary-color);
    color: white;
    margin: 0 5px;
    width: 4vh;
    height: 4vh;
    text-align: center;
    transition: all 0.3s;
}

.radio-buttons label:hover {
    background-color: black;
    color: white;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons input[value="yes"]:checked + label {
    background-color: green;
}

.radio-buttons input[value="no"]:checked + label {
    background-color: red;
}

input[name="modifyEvent"], 
input[name="modifyDescription"], 
input[name="modifyAuthor"] {
    margin-bottom: 1em;
    margin-right: 1em;
    height: 5vh;
}

input[name="modifyEvent"], 
input[name="modifyDescription"], 
input[name="modifyAuthor"],
.form-attend > input[name="name"] {
    padding-left: 2vw;
}

.form-attend > input[name="name"] {
    width: 13vw;
}
.add-new-event {
    text-transform: uppercase;
} 

.dates {
    text-align: center;
    display: flex;
}
.dates section {
    display: flex;
    flex-direction: column;
}
.dates section p {
    margin: 0px;
    height: 25px;
    text-align: center;
}
.guest {
    display: flex;
}
.true {
    color: green;
}
.false {
    color:red;
}

.guests p:first-child, 
.date-info p:first-child {
    background-color: var(--secondary-color);
    color: white;
}

.guests > p {
    display: flex;
    padding-left: 2vw;
    width: 13vw;
}