body {
    font-family: sans-serif;
}

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(95, 95, 95, 0.7);
}

.create-event {
    width: 50vw;
    height: auto;
    margin-bottom: 10%;
    background-color: white;
}

.create-event, .event-form, .event-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-form, .event-dates {
    justify-content: center;
}

.close-button-container {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

button.leave-modal {
    position: fixed;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0 20px;
    font-size: 30px;
}

.create-event button {
    margin: 2vh 0;
}

.event-form input {
    margin-bottom: 2vh;
}

.event-form {
    margin-top: 5vh;
}

button, .delete-date {
    cursor: pointer;
}

.delete-date{
    padding: 5px;
}

article {
    margin: 30px;
    margin-top: 50px;
}
.dates {
    margin-left: 150px;
    display: flex;
    gap: 50px;
}
.dates p {

}

.form-attend {
    display: flex;
    flex-direction: row;
}

.radio-buttons {
    width: 10vw;
    margin: 0 2vw;
}

.radio-buttons label {
    display: inline-block;
    width: 10px;
    padding: 5px;
    border: solid 2px #ccc;
    transition: all 0.3s;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons input[type="radio"]:checked + label {
    border: solid 2px blue;
    background-color: cornflowerblue;
}