article {
    margin: 30px;
    margin-top: 50px;
}
.dates {
    margin-left: 150px;
    display: flex;
    gap: 50px;
}
.dates section {
    display: flex;
    flex-direction: column;
}
.guest {
    display: flex;
    gap : 30px;
}